.sidebar{
    background-color: white;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 5px;
}
    
.sidebar__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    padding-bottom: 17px;
    padding-top: 17px;

}

.sidebar__list:hover{
    background-color: rgb(245, 233, 233);
    
}


.sidebar__list--icon{
    width: 25px;
    height: 25px;
    margin-bottom: 3px;
}

.sidebar__list--text{
    font-size: 10px;  

}
